.party-hat {
  position: relative;
  width: 50px;
  height: 60px;
  animation: sparkle 2s infinite; /* 위아래로 움직이는 애니메이션 적용 */
}

.party-hat-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 50px;
  height: auto;
  animation: blink 1s infinite alternate; /* 반짝이는 애니메이션 적용 */
}

@keyframes sparkle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}
